/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-colour{
    color: #FD6E0A;

}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between ; 
 align-items: center;
margin: 0px 200px 0px 200px;


}
.nav-title{
    color: #181818;
   
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    
}
.btn{
  background: #FD6E0A;;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
font-weight: 700;


}
 nav > ul{
    display: flex;
    align-items: center;
 }
  nav li{
    list-style: none;
    margin-right: 50px;
  }
  nav li a{
    text-decoration: none;
  }
  /* header related styles */
.header{
  background-color:#FFF8F3; 
  background-image: url('../images/header_bg.png'), url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  margin-bottom:150px ;

}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 200px;

}
.banner img{
  width: 584px;
    height: 645px;
    /* margin: 0px 200px 0px 500px ; */
/* justify-content: space-between; */
}
.banner-title{
  color:#474747;

font-size: 40px;
font-style: normal;
font-weight: 900px;
line-height: normal;
}
.about{
  background-color: #FFF8F3;
  text-align: center;
  width: 1800px;
height: 550px;
padding: 209px 156px ;
margin: auto;




}
.
/* .about-dis{padding: 209px 156px ;

} */
.about-info{

display: flex;

}
.info{
  display: inline-block;
}




  
   
    
